<header style="margin-bottom: 3rem; margin-top: 2rem;">
  <h1 class="text-center" style="color: dimgrey">
    Postman-clone
  </h1>
</header>

<div class="container-fluid">
  <div class="row mt-3">
    <div>
      <mat-card>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row center">
              <div class="col-md-3 marginRight">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Request Típus</mat-label>
                  <mat-select [(value)]="selectedRequestMethod">
                    <mat-option *ngFor="let method of requestMethods" [value]="method">
                      {{ method }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-9">
                <mat-form-field appearance="outline" style="width:50vw">
                  <mat-label>API Endpoint</mat-label>
                  <label>
                    <input type="url" #end matInput placeholder="Enter URL here..." #end="ngModel" [(ngModel)]="endpoint">
                  </label>
                  <mat-error *ngIf="endpointError !== ''">{{ endpointError }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <section class="page-section">
              <h3>Headers</h3>
              <div *ngFor="let item of requestHeaders; let index=index" class="center">
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field style="width:50vw">
                      <label>
                        <input
                          matInput
                          class="header-key"
                          [(ngModel)]="item.key"
                        >
                      </label>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field style="width:50vw">
                      <label>
                        <input
                          matInput
                          class="header-value"
                          [(ngModel)]="item.value"
                        >
                      </label>
                    </mat-form-field>
                  </div>
                  <div class="center">
                    <button
                      mat-button
                      [disabled]="item.key === ''"
                      color="warn"
                      class="d-block mx-auto"
                      style="outline: none;"
                      (click)="removeItem(index, 'Headers')"
                    >
                      <i class="material-icons">highlight_off</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="addHeaderBtn">
                <button
                  mat-flat-button
                  color="accent"
                  [disabled]="isAddDisabled('Headers')"
                  style="outline: none;"
                  (click)="addItem('Headers')"
                >
                  <span>New Item</span>
                </button>
              </div>

            </section>

            <section *ngIf="selectedRequestMethod === 'POST'" class="page-section">
              <h3>Body</h3>
              <div *ngFor="let item of requestBody; let index=index" class="center">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field style="width:50vw">
                      <label>
                        <input
                          matInput
                          class="body-key"
                          [(ngModel)]="item.key"
                        >
                      </label>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field
                      *ngIf="requestBodyDataTypes[index] !== 'Boolean'"
                      style="width:50vw"
                    >
                      <label>
                        <input
                          [type]="requestBodyDataTypes[index].toLowerCase()"
                          matInput
                          [disabled]="requestBodyDataTypes[index] === ''"
                          class="requestBodyItem"
                          [(ngModel)]="item.value"
                          #value="ngModel"
                        >
                      </label>
                    </mat-form-field>
                    <mat-form-field
                      appearance="legacy"
                      *ngIf="requestBodyDataTypes[index] === 'Boolean'"
                      class="w-100"
                    >
                      <mat-label>Value</mat-label>
                      <mat-select
                        [disabled]="requestBodyDataTypes[index] === ''"
                        [(value)]="item.value"
                      >
                        <mat-option value="true">True</mat-option>
                        <mat-option value="false">False</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field
                      appearance="legacy"
                      class="center"
                    >
                      <mat-label>Data Type</mat-label>
                      <mat-select
                        [(value)]="requestBodyDataTypes[index]"
                      >
                        <mat-option
                          *ngFor="let type of availableDataTypes"
                          [value]="type"
                        >
                          {{ type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="center">
                    <button
                      mat-button
                      color="warn"
                      class="d-block mx-auto"
                      style="outline: none;"
                      (click)="removeItem(index, 'Body')"
                    >
                      <i class="material-icons">highlight_off</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="addHeaderBtn">
                <button
                  mat-flat-button
                  color="accent"
                  [disabled]="isAddDisabled('Body')"
                  style="outline: none;"
                  (click)="addItem('Body')"
                >
                  <span>New Item</span>
                </button>
                </div>
            </section>

            <div class="center">
              <button
                mat-flat-button
                [disabled]="!endpoint"
                color="primary"
                (click)="sendRequest()"
              >
                Send
              </button>
            </div>

            <div class="w-100" style="margin-top: 50px; background-color: black; padding: 1rem; min-height: 5rem;">
              <mat-progress-spinner
                *ngIf="loadingState"
                class="d-block mx-auto"
                color="accent"
                mode="indeterminate"
              ></mat-progress-spinner>
              <pre
                *ngIf="responseData"
                style="color: green; white-space: pre-wrap;"
              >{{ responseData }}</pre>
              <pre
                *ngIf="responseError"
                style="color: red; white-space: pre-wrap;"
              >{{ responseError }}</pre>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>

<footer class="text-center" style="margin-top: 3rem;">
  <p style="color: white;">Vállalati információs rendszerek - Lőrik Viktor</p>
</footer>
